.left { float: left; }
.right { float: right; }
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }
.prev { position: relative; }
.disabled {
  opacity: .5;
  cursor: default;
}
.video_container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:0;
    height:0;
    margin-bottom:15px
}
.video_container iframe,.video_container video {
    position:absolute;
    top:0;
    left:0;
    width:80%;
    height:80%
}

.noborders,
.noborders tr,
.noborders tbody td,
.noborders thead th,
.noborders tfoot th {
	border: none;
}

.leftlogo {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 2px;
  }

.leftlogo img {
    width: 100%;
    padding:0
 }
@media screen and (min-width: 64em) { .leftlogo { width: 320px; height: 320px;} }
@media screen and (min-width: 42em) and (max-width: 64em) { .leftlogo { width: 230px;  height: 230px; } }
@media screen and (max-width: 42em) { .leftlogo { width: 120px; height: 120px; } }

 .rightlogo {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
.rightlogo img {
  width: 100%;
  height:100%;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 2px;
  text-align: left;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.menu-header {
  color: black;
  cursor:pointer;
  display: block;
  text-align: left;
  margin: 0 auto;
  width: 35%;
}

@media screen and (min-width: 64em) { .menu-header { font-size: 2.25rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .menu-header { font-size: 1.75rem; } }
@media screen and (max-width: 42em) { .menu-header { font-size: 1.5rem; } }
