_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata/
# Python
scripts/python/__pycache__
scripts/python/*.pyc
# VS Code
.vscode/
build/
# Visual Studio
.vs/
CMakeSettings.json
# QT Creator
build*/
CMakeLists.txt.user
# Ignore files 
*.exe
*.dll
*.so
*.obj
*.o
*.lib
*.a