<section class="page-header">

  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="{{ site.author.repository }}" class="btn">View on GitHub</a>
  <a class="rightlogo" href="{{ site.author.rightlink }}">
    <img src="{{ site.author.rightimage }}"
      alt="Fork me on GitHub"></a>

  <a class="leftlogo" href="{{ site.author.leftlink }}">
    <img src="{{ site.author.leftimage }}"
      alt="Cmaketopia"></a>
<!--
  <a href="#" class="btn">Download .zip</a>
  <a href="#" class="btn">Download .tar.gz</a>
  -->
</section>